.share-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(55, 65, 81, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  &__header {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }
  &__body{
    display: flex;
    gap: 10px;
  }
  &__input {
    font-size: 20px;
    padding: 16px 24px;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    outline: none;
    &::placeholder {
      font-weight: 600;
    }
    &:focus {
      background-color: #f3f4f6;
    }
  }
  &__copy {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 24px;
    border-radius: 10px;
    background-color: #ffdd00;
    border: 1px solid #ffdd00;
    cursor: pointer;
    &:active{
      background-color: #ffcc00;
      border: 1px solid #ffcc00;
    }
  }
  &__close {
    width: 36px;
    text-align: center;
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    &__body{
      flex-direction: column;
    }
    &__content {
      margin: 20px;
    }
  }
}
